
<h1 style="text-align: center;"><a title="Data Science-AIMS-Cmr-2021-22">Chapter 1: Working with Series and DataFrames </h1>

**Instructor:** 

* Rockefeller

**Learning Objectives:**

* Getting familiar with the concept of tabular data and iid data.
* Getting familiar with the concept of `Series` and `DataFrames`.
* Developing the ability to query dataframes to answer practical questions.
* Updating dataframes based on useful insights.

# Introduction

## The concept of Tabular data and iid data

**Tabular data** refers to structured data that is organized into `rows` and `columns`, similar to what you might find in a spreadsheet or a database table. Each row typically represents an individual observation or record, while each column signifies a particular attribute or feature of the data. 

For instance, in the African context, a table might list various agricultural products (rows) and **their respective prices, production quantities,** and **export destinations** (columns). This structured format of tabular data enables easy querying, visualization, and statistical analysis. Whether it's used for monitoring rainfall patterns across various regions in Africa or tracking the spread of diseases like Malaria, tabular data plays a pivotal role in decision-making processes across the continent.

**IID data**, or Independent and Identically Distributed data, refers to a collection of random variables where each variable has the same probability distribution as the others and all are mutually independent. In layman's terms, it means that each data point is generated in the same way and does not depend on previous data points. 

For example, if one were to conduct a survey across various African nations about a particular product's preference, the responses from one country or individual would not influence the responses from another. However, it's essential to note that real-life data, especially in complex environments like Africa with its diverse cultures, economies, and ecosystems, might not always strictly adhere to the IID assumption. Recognizing when this assumption holds and when it doesn't is crucial for accurate data analysis and modeling.

Building on the concept of tabular data, modern data science tools have provided versatile structures to handle and manipulate such data with ease. In the Python programming language, the pandas library stands out as a principal tool for this purpose. At the heart of pandas are two primary data structures: Series and DataFrames which is the focus of this chapter.

## Introduction to Pandas

`Pandas` is an open source library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

- Certainly among the most important tools for data analysts and data scientists.
- The most popular library for working with tabular data in Python

To import it, simply do:

In [3]:
import pandas as pd

To check the version of Pandas you are running, do:

In [4]:
pd.__version__

'1.3.5'

### Pandas Series

To get started with pandas, you will need to get comfortable with its two data structures:  **Series** and **Dataframe.** They provide a solid, easy-to-use basis for most applications. Every object successfully returned by  Pandas is either  **Series** or **DataFrame**.

**DataFrames** and **Series** are not simply storage containers. Since Pandas treat them similarly, they have built-in support for a variety of data-wrangling operations, such as: 

* Single-level and hierarchical indexing
* Handling missing data
* Arithmetic and Boolean operations on entire columns and tables
* Database-type operations (such as merging and aggregation)
* Plotting individual columns and whole tables
* Reading data from files and writing data to files

#### Series

A Series is a one-dimensional array-like object containing an array of data (of any NumPy data type) and an associated array of data labels, called its index. You can create a simple series from any sequence: **a list, a tuple, or a numpy array** or even **a python dictionary**.

**From a list of numbers**

In [4]:
baby_ages = pd.Series( [2 , 10 , 12]  )

In [5]:
baby_ages

0     2
1    10
2    12
dtype: int64

In [7]:
dog = pd.Series( [3 , 15 , 23] )

In [8]:
dog

0     3
1    15
2    23
dtype: int64

**From a list of strings**

In [6]:
countries = pd.Series( ['Uganda' , 'Mali' , 'Chad' , 'Niger']   )

In [7]:
countries

0    Uganda
1      Mali
2      Chad
3     Niger
dtype: object

In [9]:
continent = pd.Series (["Africa", "Asia", " Europe", "South America", "North America",])

In [10]:
continent

0           Africa
1             Asia
2           Europe
3    South America
4    North America
dtype: object

**From a list of objects (data of different types)**

In [8]:
travel_infos = pd.Series(  [ "£12" , 25 , "Banjul", "50km"  ])

In [9]:
travel_infos

0       £12
1        25
2    Banjul
3      50km
dtype: object

In [16]:
import numpy as np

In [17]:
fruits_type = pd.Series(["mango","guava", "orange","pawpaw"])

In [18]:
fruits_type

0     mango
1     guava
2    orange
3    pawpaw
dtype: object

In [19]:
fruits_type

0     mango
1     guava
2    orange
3    pawpaw
dtype: object

#### From a tuple

In [10]:
diseases = pd.Series( ("malaria" , "tuberculosis", "influenza") )
diseases

0         malaria
1    tuberculosis
2       influenza
dtype: object

#### From a numpy array

In [25]:
#Let's import the numpy library first
import numpy as np

In [26]:
index_poverty = np.arange(0,10,2)
index_poverty

array([0, 2, 4, 6, 8])

In [27]:
index_poverty_series = pd.Series(index_poverty)
index_poverty_series

0    0
1    2
2    4
3    6
4    8
dtype: int64

In [28]:
type(index_poverty_series)

pandas.core.series.Series

In [30]:
interval = np.arange(0,12,2)

In [31]:
interval

array([ 0,  2,  4,  6,  8, 10])

#### From a python dictionary

In [15]:
ebola_infos = {"Outbreak": 'Ebola' , "City": 'Goma' , 
                  "Country": 'DRC' ,"Continent": 'Africa'}

In [16]:
ebola_infos

{'Outbreak': 'Ebola', 'City': 'Goma', 'Country': 'DRC', 'Continent': 'Africa'}

In [17]:
ebola_infos_series = pd.Series(ebola_infos)

In [18]:
ebola_infos_series

Outbreak      Ebola
City           Goma
Country         DRC
Continent    Africa
dtype: object

In [34]:
diseases = {"diarrhea", "tuberculosis", "gonorrhea"}

In [35]:
diseases

{'diarrhea', 'gonorrhea', 'tuberculosis'}

As you can notice, there is column on the left always appearing when printing a series. It's a `column index` which, by default run from $0$ to $n-1$ where $n$ is the length of the series. In the case of a dictionary, it is automatically replaced by **the key** of the dictionary. And the **values** of the dictionary are the actual content of the Pandas Series.You can verify it by typing the command below.

In [19]:
dictio  = {'age': [1,2,3,4,4] , 'salary': [35 ,45]}

In [20]:
ebola_infos_series.index

Index(['Outbreak', 'City', 'Country', 'Continent'], dtype='object')

In [ ]:
ebola_infos_series.values

array(['Ebola', 'Goma', 'DRC', 'Africa'], dtype=object)

## Practice

In [36]:
my_dict = {'houses': [2,5,8,7,4], 'salary' : [66,77,88]}

In [37]:
my_dict

{'houses': [2, 5, 8, 7, 4], 'salary': [66, 77, 88]}

Series can also be created along with its indices

In [22]:
# An information recorded from a patient during a survey in a Hospital in Mbour, Senegal.
patient_senegal_infos = pd.Series( ["Traore" , "Senegalese" , "Single" , "Wolof"],
              index = ["Name" , "Nationality" , "Status" , "Language"])

In [23]:
patient_senegal_infos

Name               Traore
Nationality    Senegalese
Status             Single
Language            Wolof
dtype: object

In [38]:
#The age of 4 siblings members of a family in Bouake, Ivory Coast as  recorded during a survey
bouake_kids =  pd.Series([12 , 25 , 7 , 58 , 39],
               index = ["Yao" , "Kouassi" , "Senan", "Bony" , "Marguerite"])

In [39]:
bouake_kids

Yao           12
Kouassi       25
Senan          7
Bony          58
Marguerite    39
dtype: int64

In [40]:
bouake_kids<20

Yao            True
Kouassi       False
Senan          True
Bony          False
Marguerite    False
dtype: bool

In [41]:
bouake_kids>10

Yao            True
Kouassi        True
Senan         False
Bony           True
Marguerite     True
dtype: bool

In [26]:
bouake_kids["Yao"]

np.int64(12)

We can get to each of the terms easily, by using the index operators, which is the open and close square brackets.

In [27]:
bouake_kids['Yao']

np.int64(12)

In [42]:
bouake_kids['Bony']

58

In [44]:
bouake_kids['Kouassi']

25

We can check the number of people **below the age of 20**

In [29]:
bouake_kids

Yao           12
Kouassi       25
Senan          7
Bony          58
Marguerite    39
dtype: int64

In [30]:
bouake_kids < 20

Yao            True
Kouassi       False
Senan          True
Bony          False
Marguerite    False
dtype: bool

Technically speaking, `bouake_kids < 20` is a boolean expression, which means it is an expressions that returns Boolean values: `True` where there is a match and `False` otherwise. But, what if we want to get the actual values, we need to use the index operator and passing the boolean expression as argument. and we will get sliced pandas series with only the matching rows.

In [31]:
bouake_kids[bouake_kids<45]

Yao           12
Kouassi       25
Senan          7
Marguerite    39
dtype: int64

We can also enlarge the scope of our query buy feeding the index operator with a more sophisticated expression or collection of expressions as you see below. For instance, we are interesred in kids between the age of 12 and 45.

In [32]:
bouake_kids[(bouake_kids<45) & (bouake_kids>12)  ]

Kouassi       25
Marguerite    39
dtype: int64

### Basic Statistics

 Basic statistical operations could be performed on pandas series. Let's explore a few.

**The sum of all the elements**

In [33]:
#### A summary of the series

The `describe()` method is used for calculating some statistical data like percentile, mean and std of the numerical values of the Series. Lets look at the `bouake_kids` again.

In [34]:
bouake_kids.describe()

count     5.000000
mean     28.200000
std      20.777392
min       7.000000
25%      12.000000
50%      25.000000
75%      39.000000
max      58.000000
dtype: float64

#### summing over items

In [35]:
bouake_kids.sum()

np.int64(141)

#### averaging over items

In [36]:
bouake_kids.mean()

np.float64(28.2)

**The lowest value**

In [37]:
bouake_kids.min()

np.int64(7)

**The largest value**

In [38]:
bouake_kids.max()

np.int64(58)

**The variance**

In [39]:
bouake_kids.var()

np.float64(431.70000000000005)

**The standard deviation**

In [40]:
bouake_kids.std()

np.float64(20.777391559096152)

### Pandas Dataframe

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). It can also simply be viewed as a collection of Series. There are numerous ways to construct a DataFrame, though one of the most common is from a dict of equal-length lists or NumPy arrays.

In [41]:
#Some temperature values recorded across African cities last rainy season
temp_african_cities = {
            "City": ['Gao' , 'Thies' , 'Abeche','Bobo-Dioulasso', 'Port Harcourt'],
      
            "Temperature(°C)": [29,32,27,19,35]     }

In [42]:
df_temp_afr_cities = pd.DataFrame(temp_african_cities)

In [43]:
df_temp_afr_cities

             City  Temperature(°C)
0             Gao               29
1           Thies               32
2          Abeche               27
3  Bobo-Dioulasso               19
4   Port Harcourt               35

## Practice

In [58]:
student_score = {
   "names": ["Adams", "James", "Tunde", "Gedeon"],
    
    "subject": ["Data processing", "Maths", "English", "Physics"],
    
    "Grade(%)": [35, 55, 99, 78],
    "Position" : ["fourth", "third", "first", "second"]
}

In [59]:
student_score

{'names': ['Adams', 'James', 'Tunde', 'Gedeon'],
 'subject': ['Data processing', 'Maths', 'English', 'Physics'],
 'Grade(%)': [35, 55, 99, 78],
 'Position': ['fourth', 'third', 'first', 'second']}

In [60]:
student_result= pd.DataFrame(student_score)

In [61]:
student_result

    names          subject  Grade(%) Position
0   Adams  Data processing        35   fourth
1   James            Maths        55    third
2   Tunde          English        99    first
3  Gedeon          Physics        78   second

In [72]:
student_result ['Awardees'] = ['No', 'No', 'Yes', 'Yes' ]

In [73]:
student_result

    names          subject  Grade(%) Position Awardees
0   Adams  Data processing        35   fourth       No
1   James            Maths        66    third       No
2   Tunde          English        99    first      Yes
3  Gedeon          Physics        78   second      Yes

In [63]:
student_result.iloc[1,2] = 66

In [71]:
student_result.iloc[2, : ] #row2 with its info

names         Tunde
subject     English
Grade(%)         99
Position      first
Name: 2, dtype: object

In [44]:
#The birth rate from several hospitals in Togo, Benin on a specific week in 2003
togo_birth_rate = {"Hospital": ["Hopital General de Dapaong" , "Deutsche Hospital Apaong" , 
                   "Clinique Notre-Dame de Lomé", "hôpital Nachtigal d’aného", 
                   "hôpital Germanique de kpalimé", "Liberty Klinic"],
    "Birth_Rate" :[ 0.4 , 0.25 , 0.98 , 0.18 , 0.62 , 0.16]
     }

In [45]:
df_togo_birth_rate   = pd.DataFrame(togo_birth_rate)

In [46]:
df_togo_birth_rate

                        Hospital  Birth_Rate
0     Hopital General de Dapaong        0.40
1       Deutsche Hospital Apaong        0.25
2    Clinique Notre-Dame de Lomé        0.98
3      hôpital Nachtigal d’aného        0.18
4  hôpital Germanique de kpalimé        0.62
5                 Liberty Klinic        0.16

In [47]:
df_togo_birth_rate['Hospital']

0       Hopital General de Dapaong
1         Deutsche Hospital Apaong
2      Clinique Notre-Dame de Lomé
3        hôpital Nachtigal d’aného
4    hôpital Germanique de kpalimé
5                   Liberty Klinic
Name: Hospital, dtype: object

To query the content of a dataframe, we can call the different series using the index operator and passing in the name of a column as a string.

In [48]:
df_togo_birth_rate['Hospital']

0       Hopital General de Dapaong
1         Deutsche Hospital Apaong
2      Clinique Notre-Dame de Lomé
3        hôpital Nachtigal d’aného
4    hôpital Germanique de kpalimé
5                   Liberty Klinic
Name: Hospital, dtype: object

In [49]:
df_togo_birth_rate['Birth_Rate']

0    0.40
1    0.25
2    0.98
3    0.18
4    0.62
5    0.16
Name: Birth_Rate, dtype: float64

We might decide to add another column. For instance, we want to add information related to the electricity outage in those hospitals during that week.

In [50]:
df_togo_birth_rate['Light'] = ["Yes" , "Yes" , "No" , "Yes" , "No" , "No"]

In [51]:
df_togo_birth_rate

                        Hospital  Birth_Rate Light
0     Hopital General de Dapaong        0.40   Yes
1       Deutsche Hospital Apaong        0.25   Yes
2    Clinique Notre-Dame de Lomé        0.98    No
3      hôpital Nachtigal d’aného        0.18   Yes
4  hôpital Germanique de kpalimé        0.62    No
5                 Liberty Klinic        0.16    No

We can get a subset of dataframe based on some conditions. Let's find out from the task below.

># <font color=#800080>Task 1:</font> <a class="anchor" id="Task-1"></a>

We are trying to learn more about how health and infrastructure are related in Togo. 
To do this, we have collected data across different hospitals within the country. 
The data is provided in the dictionary below.

In [74]:
togo_data = {
    'Hospital Name': [
        'Lomé Central Hospital', 
        'Kara Regional Hospital', 
        'Sokodé District Hospital', 
        'Dapaong Clinic', 
        'Atakpamé Health Center', 
        'Bassar Hospital',
        'Tsevie Hospital',
        'Aného Medical Clinic',
        'Kpalimé Health Center',
        'Mango District Hospital',
        'Lomé-Berlin Partnership Clinic',  
        'Deutsche Togo Hospital',          
        'Badou Health Center',
        'Notse Hospital',
        'Sotouboua Medical Facility',
        'German-Togolese Medical Institute', 
        'Vogan Health Clinic',
        'Tabligbo Hospital',
        'Kande Medical Center',
        'German Heart Clinic of Lomé'       
    ],
    'Birth rate': [
        0.152, 0.124, 0.147, 0.108, 0.135, 
        0.119, 0.141, 0.130, 0.125, 0.148,
        0.151, 0.133, 0.137, 0.128, 0.122,
        0.144, 0.136, 0.139, 0.115, 0.155
    ],
    'Access to Electricity': [
        'Yes', 'No', 'Yes', 'No', 'Yes', 
        'No', 'Yes', 'Yes', 'Yes', 'No',
        'Yes', 'Yes', 'No', 'Yes', 'Yes',
        'No', 'Yes', 'Yes', 'No', 'Yes'
    ]
}

In [111]:
df_togo_data = pd.DataFrame(togo_data)

In [112]:
df_togo_data['scheduled_dates'] = ['2024-06-12', '2024-08-02', '2024-04-11', '2024-09-23', 
         '2024-05-30', '2024-09-14', '2024-07-04', '2024-06-26', 
         '2024-08-15', '2024-04-25', '2024-09-10', '2024-06-30',
         '2024-12-15', '2024-05-17', '2024-05-13', '2024-05-15', 
         '2024-10-01', '2024-10-04', '2024-10-03', '2024-10-02']

In [113]:
df_togo_data

,Hospital Name,Birth rate,Access to Electricity,scheduled_dates
0,Lomé Central Hospital,0.152,Yes,2024-06-12
1,Kara Regional Hospital,0.124,No,2024-08-02
2,Sokodé District Hospital,0.147,Yes,2024-04-11
3,Dapaong Clinic,0.108,No,2024-09-23
4,Atakpamé Health Center,0.135,Yes,2024-05-30
5,Bassar Hospital,0.119,No,2024-09-14
6,Tsevie Hospital,0.141,Yes,2024-07-04
7,Aného Medical Clinic,0.130,Yes,2024-06-26
8,Kpalimé Health Center,0.125,Yes,2024-08-15
9,Mango District Hospital,0.148,No,2024-04-25
10,Lomé-Berlin Partnership Clinic,0.151,Yes,2024-09-10
11,Deutsche Togo Hospital,0.133,Yes,2024-06-30
12,Badou Health Center,0.137,No,2024-12-15
13,Notse Hospital,0.128,Yes,2024-05-17
14,Sotouboua Medical Facility,0.122,Yes,2024-05-13
15,German-Togolese Medical Institute,0.144,No,2024-05-15
16,Vogan Health Clinic,0.136,Yes,2024-10-01
17,Tabligbo Hospital,0.139,Yes,2024-10-04
18,Kande Medical Center,0.115,No,2024-10-03
19,German Heart Clinic of Lomé,0.155,Yes,2024-10-02

In [110]:
df_togo_data.iloc[1, [2,2]]

Access to Electricity    No
Access to Electricity    No
Name: 1, dtype: object


1. Load the data in a pandas dataframe.
 
2. Think of some practical questions related to health or infrastucture that can be asked from looking at the data

3. Phrase them on a piece of paper.

4. Write the Python codes that solve them

5. Provide an insights or recommendation that drawn from each of your answers.

6. Answer the following questions:

    * What are the hospitals where the birth rate is less than `0.50`?
    * What are the hospitals that have access to electricity?
    * Are the Germans Hospitals in Togo always supplied with electricity?

7. Siemens, a German company, has promised to give backup power generators to some hospitals in Togo. This is part of a collaboration between Germany and Togo. The generators will help keep the hospitals running during power outages, so that patients can continue to receive care. Siemens has carefully planned the delivery date for the generators in each hospital. The scheduled dates are stored in the `scheduled_dates` variable. Use the `pd.to_datetime()` function to convert these dates to a format that can be used for analysis.

In [124]:
scheduled_dates = ['2024-06-12', '2024-08-02', '2024-04-11', '2024-09-23', 
         '2024-05-30', '2024-09-14', '2024-07-04', '2024-06-26', 
         '2024-08-15', '2024-04-25', '2024-09-10', '2024-06-30',
         '2024-12-15', '2024-05-17', '2024-05-13', '2024-05-15', 
         '2024-10-01', '2024-10-04', '2024-10-03', '2024-10-02']


8. A special ceromony will be organized to hand over the generators to the hospitals. The Togolese Minister of Health, Mrs Flore Yassingbe Genevieve, and her team would want to take part of it. However, due to her busy schedule, her secretary said that she can only attend events that are scheduled between the **20th** and **40th** week of the year. Reckoning with her busy schedule, how many ceremonies can she attend in person?

In [136]:
df_togo_data = pd.DataFrame(togo_data)

In [137]:
df_togo_data

                        Hospital Name  Birth rate Access to Electricity
0               Lomé Central Hospital       0.152                   Yes
1              Kara Regional Hospital       0.124                    No
2            Sokodé District Hospital       0.147                   Yes
3                      Dapaong Clinic       0.108                    No
4              Atakpamé Health Center       0.135                   Yes
5                     Bassar Hospital       0.119                    No
6                     Tsevie Hospital       0.141                   Yes
7                Aného Medical Clinic       0.130                   Yes
8               Kpalimé Health Center       0.125                   Yes
9             Mango District Hospital       0.148                    No
10     Lomé-Berlin Partnership Clinic       0.151                   Yes
11             Deutsche Togo Hospital       0.133                   Yes
12                Badou Health Center       0.137                    No
13                     Notse Hospital       0.128                   Yes
14         Sotouboua Medical Facility       0.122                   Yes
15  German-Togolese Medical Institute       0.144                    No
16                Vogan Health Clinic       0.136                   Yes
17                  Tabligbo Hospital       0.139                   Yes
18               Kande Medical Center       0.115                    No
19        German Heart Clinic of Lomé       0.155                   Yes

In [138]:
df_togo_data['dates'] = pd.to_datetime(scheduled_dates)

In [139]:
df_togo_data

,Hospital Name,Birth rate,Access to Electricity,dates
0,Lomé Central Hospital,0.152,Yes,2024-06-12
1,Kara Regional Hospital,0.124,No,2024-08-02
2,Sokodé District Hospital,0.147,Yes,2024-04-11
3,Dapaong Clinic,0.108,No,2024-09-23
4,Atakpamé Health Center,0.135,Yes,2024-05-30
5,Bassar Hospital,0.119,No,2024-09-14
6,Tsevie Hospital,0.141,Yes,2024-07-04
7,Aného Medical Clinic,0.130,Yes,2024-06-26
8,Kpalimé Health Center,0.125,Yes,2024-08-15
9,Mango District Hospital,0.148,No,2024-04-25
10,Lomé-Berlin Partnership Clinic,0.151,Yes,2024-09-10
11,Deutsche Togo Hospital,0.133,Yes,2024-06-30
12,Badou Health Center,0.137,No,2024-12-15
13,Notse Hospital,0.128,Yes,2024-05-17
14,Sotouboua Medical Facility,0.122,Yes,2024-05-13
15,German-Togolese Medical Institute,0.144,No,2024-05-15
16,Vogan Health Clinic,0.136,Yes,2024-10-01
17,Tabligbo Hospital,0.139,Yes,2024-10-04
18,Kande Medical Center,0.115,No,2024-10-03
19,German Heart Clinic of Lomé,0.155,Yes,2024-10-02