<h1 style="text-align: center;"><a title="Data Prep-AIMS-Cmr-2024-25">Quiz 4, Data Prep, AIMS Sen25 WJ</h1>

**Instructor:** 

* Rockefeller

### Wandiya James

# **<span style="color:red">Score:  8/ 10 </span>**

# Working with Time Data

## 1. Parse the following date string `"2024#12#25"` using `pd.to_datetime()` with the appropriate format parameter.

**<span style="color:red">Score:  1/ 1 </span>**

In [2]:
import pandas as pd

In [3]:
parsed = pd.to_datetime("2024#12#25", format="%Y#%m#%d")
parsed

Timestamp('2024-12-25 00:00:00')

## 2: Convert the string `"December-25-2024"` to a `pandas Timestamp` using the correct format specification.

**<span style="color:red">Score:  0/ 1 </span>**

In [9]:
ts = pd.to_datetime("December-25-2024", format="%B-%d-%Y")
ts

Timestamp('2024-12-25 00:00:00')

## 3. Run the command below to generate a dataframe

In [3]:
import numpy as np
my_initial_df = pd.DataFrame({'year': list(np.random.randint(2000,2025,10)), 
                   'month': list(np.random.randint(1,13,10)), 
                   'day': list(np.random.randint(1,29,10)), 
                   'hour': list(np.random.randint(0,24,10)), 
                   'meal_menu': ['mafe', 'yassa', 'cebon', 'soup', 'mafe', 'grilled fish', 'grilled fish', 'yassa', 'cebon', 'soup']})
my_initial_df['date'] = pd.to_datetime(my_initial_df[['year', 'month', 'day', 'hour']])


my_initial_df  = my_initial_df.drop(columns=['year', 'month', 'day', 'hour'])
my_initial_df = my_initial_df[['date', 'meal_menu']]
my_initial_df

                 date     meal_menu
0 2013-01-21 00:00:00          mafe
1 2005-10-26 05:00:00         yassa
2 2011-12-18 06:00:00         cebon
3 2003-07-05 02:00:00          soup
4 2016-01-20 20:00:00          mafe
5 2012-04-22 03:00:00  grilled fish
6 2019-07-10 14:00:00  grilled fish
7 2023-09-17 04:00:00         yassa
8 2007-02-03 21:00:00         cebon
9 2022-08-05 05:00:00          soup

## Use the .unique() to display all the distinct meal menus that are listed on the dataframe

**<span style="color:red">Score:  1/ 1 </span>**

In [31]:
unique_meals = my_initial_df['meal_menu'].unique()
print("All distinct meal menus:")

All distinct meal menus:

In [30]:
print(unique_meals)

['mafe' 'yassa' 'cebon' 'soup' 'grilled fish']

## 4. On what date(s) did they cook the meal named `'grilled fish'`? 
Write the code for it.

**<span style="color:red">Score:  1/ 1 </span>**

In [18]:
grilled_fish_dates = my_initial_df[my_initial_df['meal_menu'] == 'grilled fish']['date']
print("Dates when 'grilled fish' was cooked:")

Dates when 'grilled fish' was cooked:

In [19]:
print(grilled_fish_dates)

5   2012-04-22 03:00:00
6   2019-07-10 14:00:00
Name: date, dtype: datetime64[ns]

# 5. Which day(s) name exactly do(es) that corrspond to? 
(Hint: you can use `data_frame['column_name'].dt.day_name()`)

**<span style="color:red">Score:  1/ 1 </span>**

In [20]:
grilled_fish_days = my_initial_df[my_initial_df['meal_menu'] == 'grilled fish']['date'].dt.day_name()
print("Day(s) of the week when 'grilled fish' was cooked:")

Day(s) of the week when 'grilled fish' was cooked:

In [21]:
print(grilled_fish_days)

5       Sunday
6    Wednesday
Name: date, dtype: object

 ## Suppose you are given the following date to parse: `'2025 KEUR 12***04'` . Run the code below

In [10]:
saly_date_coerce = pd.to_datetime('2025 KEUR 12***04', format='%Y KEUR %m--%d',
                   errors='coerce')
saly_date_coerce

NaT

## 6. We have passed in `ignore` as parameter. Describe what exactly happen?

**<span style="color:red">Score:  1/ 1 </span>**

In [11]:

saly_date_ignore = pd.to_datetime('2025 KEUR 12***04', format='%Y KEUR %m--%d',
                   errors='ignore')
saly_date_ignore

/tmp/ipykernel_32932/2047616707.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  saly_date_ignore = pd.to_datetime('2025 KEUR 12***04', format='%Y KEUR %m--%d',

'2025 KEUR 12***04'

it ignore the error and return the original data  unchanged without converting it. i.e. the invalid entries remain as they are without converting

## 7. We have passed in `raise` as parameter. Describe what exactly happen?

**<span style="color:red">Score:  1/ 1 </span>**

In [12]:

saly_date_raise = pd.to_datetime('2025 KEUR 12***04', format='%Y KEUR %m--%d',
                   errors='raise')
saly_date_raise

ValueError: time data "2025 KEUR 12***04" doesn't match format "%Y KEUR %m--%d", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

**it stops the execution and report an error. until you resolve the error before proceeding**

In [29]:
saly_date = pd.to_datetime('2025 KEUR 12***04', format='%Y KEUR %d***%m')
saly_date

Timestamp('2025-04-12 00:00:00')

## 8. Provide the appropriate format to resolve the issue.

**<span style="color:red">Score:  0/ 1 </span>**

In [14]:
saly_date = pd.to_datetime('2025 KEUR 12***04', format='%Y KEUR %m--%d')
saly_date

ValueError: time data "2025 KEUR 12***04" doesn't match format "%Y KEUR %m--%d", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [28]:
saly_date = pd.to_datetime('2025 KEUR 12***04', format='%Y KEUR %d***%m')
saly_date

Timestamp('2025-04-12 00:00:00')

## 9. Create a Timedelta object representing:  `5 days, 3 hours, and 30 minutes` and add `two weeks 10 minutes` that.

**<span style="color:red">Score:  1/ 1 </span>**

In [22]:
td1 = pd.Timedelta(days=5, hours=3, minutes=30)
td2 = pd.Timedelta(weeks=2, minutes=10)
total = td1 + td2

In [23]:
print("Timedelta 1:", td1)

Timedelta 1: 5 days 03:30:00

In [24]:
print("Timedelta 2:", td2)

Timedelta 2: 14 days 00:10:00

In [25]:
print("Total:", total)

Total: 19 days 03:40:00

## 10. Generate a date range starting from  `'2025-11-05'` with every 4 days period until the `30th of December 2025`.

**<span style="color:red">Score:  1/ 1 </span>**

In [26]:

date_range_10 = pd.date_range("2025-11-05", "2025-12-30", freq="4D")

In [27]:
date_range_10

DatetimeIndex(['2025-11-05', '2025-11-09', '2025-11-13', '2025-11-17',
               '2025-11-21', '2025-11-25', '2025-11-29', '2025-12-03',
               '2025-12-07', '2025-12-11', '2025-12-15', '2025-12-19',
               '2025-12-23', '2025-12-27'],
              dtype='datetime64[ns]', freq='4D')